@{
    ViewData["Title"] = "Branches";
}
<h1>@ViewData["Title"]</h1>

<div class="d-flex flex-wrap mt-5 mb-3 justify-content-around">
   
        <div class="card mt-3" style="width: 16rem;">
@*             <img src="" class="card-img-top" alt="NoImage">
 *@            <div class="card-body">
                <h5 class="card-title"> Branch Name : Kafr-Elshk</h5>
                <p class="card-text"> Address : المحاربين الجديدة اسفل د محمود عويضة </p>
                <p class="card-text"> Tel : 01090210860</p>
                </div>
        </div>
         <div class="card mt-3" style="width: 16rem;">
@*             <img src="" class="card-img-top" alt="NoImage">
 *@            <div class="card-body">
                <h5 class="card-title"> Branch Name : Tanta</h5>
                <p class="card-text"> Address : المحاربين الجديدة اسفل د محمود عويضة </p>
                <p class="card-text"> Tel : 01090210860</p>
                </div>
        </div>
    <div class="card mt-3" style="width: 16rem;">
        @*             <img src="" class="card-img-top" alt="NoImage">
        *@            <div class="card-body">
            <h5 class="card-title"> Branch Name : Fesiel</h5>
            <p class="card-text"> Address : المحاربين الجديدة اسفل د محمود عويضة </p>
            <p class="card-text"> Tel : 01090210860</p>
        </div>
    </div>
       
</div>